Repository fifteenfortyfive/website: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, crystal-format

prettier:
  name: prettier
  entry: sh -c "cd mcsn_web && yarn fix:prettier"
  language: system
  stages:
  - commit
  pass_filenames: true
  args:
  - --write

eslint:
  name: eslint
  entry: sh -c "cd mcsn_web && yarn fix:eslint"
  language: system
  stages:
  - commit

crystal-format:
  name: crystal-format
  entry: crystal tool format
  language: system
  pass_filenames: true

Fix api references to mcsn_api
  .gitignore
  mcsn_api/.gitignore
  mcsn_api/.sentry.yml
  mcsn_api/shard.yml
  mcsn_api/src/mcsn_api.cr
Due: crystal-format

eslint is a dev dependency
  mcsn_web/package.json
Due: none

Isolate tool-versions and READMEs, prepare for mcsn_supervisor
  PRODUCTION.md
  README.md
  mcsn_api/.env.example
  mcsn_api/.gitignore
  mcsn_api/.sentry.yml
  mcsn_api/.service.yaml
  mcsn_api/.tool-versions
  mcsn_api/README.md
  mcsn_api/mcsn_api.service
  mcsn_api/scripts/build.sh
  mcsn_api/scripts/deploy.sh
  mcsn_api/scripts/deploy_production.sh
  mcsn_api/scripts/deploy_systemctl.sh
  mcsn_api/shard.lock
  mcsn_api/shard.yml
  mcsn_api/src/cli.cr
  mcsn_api/src/mcsn_api.cr
  mcsn_web/.tool-versions
  mcsn_web/README.md
Due: crystal-format

Get `mcsn_supervisor` working to manage running processes.
  mcsn_api/src/cli.cr
  mcsn_supervisor/.gitignore
  mcsn_supervisor/.tool-versions
  mcsn_supervisor/README.md
  mcsn_supervisor/requirements.txt
  mcsn_supervisor/scripts/initialize
  mcsn_supervisor/scripts/mcsn
  mcsn_supervisor/supervisord.dev.conf
Due: crystal-format

Move remaining top-level API files into `mcsn_api`, update top-level README
  .services.json
  .tool-versions
  PRODUCTION.md
  README.md
  mcsn_api/example-hosts
  mcsn_api/new_db_structure.md
Due: none

Add repo design note
  README.md
Due: none

Use webpack-dev-server for mcsn_web
  .gitignore
  mcsn_supervisor/supervisord.dev.conf
  mcsn_web/.gitignore
  mcsn_web/package.json
  mcsn_web/webpack.config.js
  mcsn_web/yarn.lock
Due: prettier, eslint

Add full README for mcsn_web
  mcsn_web/README.md
Due: none

Use port 8080 for mcsn_web yarn serve to avoid conflicting with supervisor
  mcsn_web/README.md
  mcsn_web/webpack.config.js
Due: prettier, eslint

Add black/flake8 pre-commit and config
  .editorconfig
  .flake8
  .pre-commit-config.yaml
  mcsn_supervisor/mcsn.py
Due: none

Set up mcsn CLI to prepare for build steps
  mcsn_supervisor/.gitignore
  mcsn_supervisor/README.md
  mcsn_supervisor/mcsn.py
  mcsn_supervisor/mcsn/__init__.py
  mcsn_supervisor/mcsn/services/__init__.py
  mcsn_supervisor/mcsn/services/mcsn_api.py
  mcsn_supervisor/mcsn/services/template.py
Due: none

use setuptools to build portable executable.
  mcsn_supervisor/.gitignore
  mcsn_supervisor/mcsn.py
  mcsn_supervisor/mcsn/__init__.py
  mcsn_supervisor/mcsn/__main__.py
  mcsn_supervisor/scripts/initialize
  mcsn_supervisor/scripts/mcsn
  mcsn_supervisor/setup.py
Due: none

Working mcsn_web service definition
  mcsn_supervisor/README.md
  mcsn_supervisor/mcsn/__main__.py
  mcsn_supervisor/mcsn/services/mcsn_api.py
  mcsn_supervisor/mcsn/services/template.py
  mcsn_supervisor/mcsn/supervisor.py
Due: none

Fix naming of service definition to mcsn_web
  mcsn_supervisor/mcsn/__main__.py
  mcsn_supervisor/mcsn/services/mcsn_web.py
Due: none

Rename mcsn_web service to web
  mcsn_supervisor/mcsn/__main__.py
  mcsn_supervisor/mcsn/services/web.py
Due: none

Run mcsn_supervisor commands directly in the terminal
  mcsn_supervisor/mcsn/__main__.py
  mcsn_supervisor/mcsn/services/template.py
  mcsn_supervisor/mcsn/services/web.py
Due: none

rename `mcsn_supervisor` to `mcsn_cli`
  README.md
  mcsn_cli/.gitignore
  mcsn_cli/.tool-versions
  mcsn_cli/README.md
  mcsn_cli/mcsn/__init__.py
  mcsn_cli/mcsn/__main__.py
  mcsn_cli/mcsn/services/__init__.py
  mcsn_cli/mcsn/services/template.py
  mcsn_cli/mcsn/services/web.py
  mcsn_cli/mcsn/supervisor.py
  mcsn_cli/requirements.txt
  mcsn_cli/scripts/initialize
  mcsn_cli/setup.py
  mcsn_cli/supervisord.dev.conf
  mcsn_web/README.md
Due: none

add api to mcsn_cli and supervisorctl
  mcsn_api/.gitignore
  mcsn_api/dev/sentry.cr
  mcsn_api/dev/sentry_cli.cr
  mcsn_api/src/mcsn_api.cr
  mcsn_cli/README.md
  mcsn_cli/mcsn/__main__.py
  mcsn_cli/mcsn/services/api.py
  mcsn_cli/mcsn/services/template.py
  mcsn_cli/mcsn/services/web.py
  mcsn_cli/scripts/initialize
  mcsn_cli/supervisord.dev.conf
Due: crystal-format

[cli] Add program template to supervisord.dev.conf
  mcsn_cli/README.md
  mcsn_cli/supervisord.dev.conf
Due: none

[cli] Fix README example usage
  mcsn_cli/README.md
Due: none

Add initial configuration reference
  config/README.md
Due: none

Simplify config reference tables
  config/README.md
Due: none

[web] Use environment config through webpack Environment Variables
  mcsn_api/PRODUCTION_SETUP.md
  mcsn_api/README.md
  mcsn_api/src/tools/giantbomb_scraper.cr
  mcsn_web/README.md
  mcsn_web/app/Actions.js
  mcsn_web/app/Constants.js
  mcsn_web/config/.gitignore
  mcsn_web/config/development.json
  mcsn_web/server/index.js
  mcsn_web/webpack.config.js
Due: prettier, eslint, crystal-format

[web] put development back on expected port
  mcsn_web/config/development.json
Due: none

[api] Make example systemctl service file actually an example
  mcsn_api/.gitignore
  mcsn_api/PRODUCTION_SETUP.md
  mcsn_api/example.service
  mcsn_api/scripts/deploy_systemctl.sh
Due: none

[api] Improve production setup doc around systemctl
  mcsn_api/PRODUCTION_SETUP.md
Due: none

[api] more systemctl service updates
  mcsn_api/PRODUCTION_SETUP.md
  mcsn_api/example.service
Due: none

Assume yarn is installed
  mcsn_cli/README.md
  mcsn_cli/mcsn/services/web.py
Due: none

[web] fix node -> nodejs in tool-versions
  mcsn_web/.tool-versions
Due: none

[web] fix capitalization of Submit.js
  mcsn_web/app/modules/submissions/components/Submit.js
Due: prettier, eslint

[web] add start script for server
  mcsn_web/server/start.sh
  node_modules/.yarn-integrity
  yarn.lock
Due: none

[global] Add Prerequisites to README
  README.md
Due: none

[global] Add expected `mcsn` role for databases
  README.md
Due: none

[cli] initial work on bootstrap command
  README.md
  mcsn_cli/mcsn/__main__.py
  mcsn_cli/mcsn/commands/__init__.py
  mcsn_cli/mcsn/commands/bootstrap.py
  mcsn_cli/mcsn/lib/__init__.py
  mcsn_cli/mcsn/lib/asdf.py
  mcsn_cli/mcsn/lib/log.py
  mcsn_cli/mcsn/lib/shell.py
  mcsn_cli/mcsn/lib/supervisor.py
  mcsn_cli/mcsn/services/api.py
  mcsn_cli/mcsn/services/template.py
  mcsn_cli/mcsn/services/web.py
Due: none

[api][config] Use mcsn user and rename db to mcsn_api
  ansible/inventory/group_vars/build-servers/vars.yml
  config/README.md
  mcsn_api/.env.example
  mcsn_api/.service.yaml
  node_modules/.yarn-integrity
  yarn.lock
Due: none

[runs] mcsn_runs initial commit
  mcsn_runs/.formatter.exs
  mcsn_runs/.gitignore
  mcsn_runs/.tool-versions
  mcsn_runs/README.md
  mcsn_runs/config/config.exs
  mcsn_runs/config/dev.exs
  mcsn_runs/config/prod.exs
  mcsn_runs/config/prod.secret.exs
  mcsn_runs/config/test.exs
  mcsn_runs/lib/mcsn_runs.ex
  mcsn_runs/lib/mcsn_runs/application.ex
  mcsn_runs/lib/mcsn_runs/repo.ex
  mcsn_runs/lib/mcsn_runs_web.ex
  mcsn_runs/lib/mcsn_runs_web/channels/user_socket.ex
  mcsn_runs/lib/mcsn_runs_web/endpoint.ex
  mcsn_runs/lib/mcsn_runs_web/gettext.ex
  mcsn_runs/lib/mcsn_runs_web/router.ex
  mcsn_runs/lib/mcsn_runs_web/views/error_helpers.ex
  mcsn_runs/lib/mcsn_runs_web/views/error_view.ex
  mcsn_runs/mix.exs
  mcsn_runs/mix.lock
  mcsn_runs/priv/gettext/en/LC_MESSAGES/errors.po
  mcsn_runs/priv/gettext/errors.pot
  mcsn_runs/priv/repo/migrations/.formatter.exs
  mcsn_runs/priv/repo/seeds.exs
  mcsn_runs/test/mcsn_runs_web/views/error_view_test.exs
  mcsn_runs/test/support/channel_case.ex
  mcsn_runs/test/support/conn_case.ex
  mcsn_runs/test/support/data_case.ex
  mcsn_runs/test/test_helper.exs
Due: none

[cli] Add `mcsn_runs` as a managed service
  config/README.md
  mcsn_cli/README.md
  mcsn_cli/mcsn/__main__.py
  mcsn_cli/mcsn/commands/bootstrap.py
  mcsn_cli/mcsn/lib/supervisor.py
  mcsn_cli/mcsn/services/runs.py
  mcsn_cli/mcsn/services/template.py
  mcsn_cli/supervisord.dev.conf
Due: none

[cli] Provide reference commit for adding new services
  mcsn_cli/README.md
Due: none

Path conditions:
  prettier: any of: (.*)\.(jsx?|tsx?|css|html)$
  eslint: any of: (.*)\.(jsx?|tsx?|css)$
  crystal-format: any of: \.cr$
