Repository fifteenfortyfive/website: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, crystal-format

prettier:
  name: prettier
  entry: sh -c "cd mcsn_web && yarn fix:prettier"
  language: system
  stages:
  - commit
  pass_filenames: true
  args:
  - --write

eslint:
  name: eslint
  entry: sh -c "cd mcsn_web && yarn fix:eslint"
  language: system
  stages:
  - commit

crystal-format:
  name: crystal-format
  entry: crystal tool format
  language: system
  pass_filenames: true

[cli] always resolve virtualenv version of supervisorctl
  mcsn_cli/mcsn/lib/supervisor.py
Due: none

[runs][cli] Add runs README and run migrations on `runs deps`
  mcsn_cli/mcsn/services/runs.py
  mcsn_runs/README.md
Due: none

[runs] Use `MCSN.Runs` namespacing
  mcsn_runs/config/config.exs
  mcsn_runs/config/dev.exs
  mcsn_runs/config/prod.exs
  mcsn_runs/config/prod.secret.exs
  mcsn_runs/config/test.exs
  mcsn_runs/lib/mcsn_runs.ex
  mcsn_runs/lib/mcsn_runs/application.ex
  mcsn_runs/lib/mcsn_runs/repo.ex
  mcsn_runs/lib/mcsn_runs_web.ex
  mcsn_runs/lib/mcsn_runs_web/channels/user_socket.ex
  mcsn_runs/lib/mcsn_runs_web/endpoint.ex
  mcsn_runs/lib/mcsn_runs_web/gettext.ex
  mcsn_runs/lib/mcsn_runs_web/router.ex
  mcsn_runs/lib/mcsn_runs_web/views/error_helpers.ex
  mcsn_runs/lib/mcsn_runs_web/views/error_view.ex
  mcsn_runs/mix.exs
  mcsn_runs/priv/repo/seeds.exs
  mcsn_runs/test/mcsn_runs_web/views/error_view_test.exs
  mcsn_runs/test/support/channel_case.ex
  mcsn_runs/test/support/conn_case.ex
  mcsn_runs/test/support/data_case.ex
  mcsn_runs/test/test_helper.exs
Due: none

[global] Add `mix format` pre-commit hook
  .pre-commit-config.yaml
Due: none

[runs] Add Commanded and EventStore setup
  config/README.md
  mcsn_cli/mcsn/services/runs.py
  mcsn_runs/config/config.exs
  mcsn_runs/config/dev.exs
  mcsn_runs/config/prod.secret.exs
  mcsn_runs/lib/mcsn_runs/application.ex
  mcsn_runs/lib/mcsn_runs/event_store.ex
  mcsn_runs/mix.exs
  mcsn_runs/mix.lock
Due: none

[cli][runs] Setup test env during `mcsn runs deps`
  mcsn_cli/mcsn/services/runs.py
  mcsn_runs/config/test.exs
  mcsn_runs/mix.exs
Due: none

[runs] Basic run creation with Commanded event sourcing library
  mcsn_runs/lib/mcsn_runs/app.ex
  mcsn_runs/lib/mcsn_runs/application.ex
  mcsn_runs/lib/mcsn_runs/event_store.ex
  mcsn_runs/lib/mcsn_runs/runs.ex
  mcsn_runs/lib/mcsn_runs/runs/aggregates/run.ex
  mcsn_runs/lib/mcsn_runs/runs/commands/create_run.ex
  mcsn_runs/lib/mcsn_runs/runs/events/run_created.ex
  mcsn_runs/lib/mcsn_runs/runs_router.ex
Due: none

[runs] migrate folder structure to more sensible default
  mcsn_runs/lib/mcsn/application.ex
  mcsn_runs/lib/mcsn/repo.ex
  mcsn_runs/lib/mcsn/runs.ex
  mcsn_runs/lib/mcsn/runs/aggregates/run.ex
  mcsn_runs/lib/mcsn/runs/app.ex
  mcsn_runs/lib/mcsn/runs/commands/create_run.ex
  mcsn_runs/lib/mcsn/runs/event_store.ex
  mcsn_runs/lib/mcsn/runs/events/run_created.ex
  mcsn_runs/lib/mcsn/runs/handlers/runs_event_handler.ex
  mcsn_runs/lib/mcsn/runs/router.ex
  mcsn_runs/lib/mcsn_runs.ex
  mcsn_runs/lib/mcsn_runs/runs.ex
Due: none

[runs] add Runs projection model and handler
  mcsn_runs/config/config.exs
  mcsn_runs/lib/mcsn/application.ex
  mcsn_runs/lib/mcsn/runs/handlers/runs_event_handler.ex
  mcsn_runs/lib/mcsn/runs/projections.ex
  mcsn_runs/lib/mcsn/runs/projections/run.ex
  mcsn_runs/priv/repo/migrations/20200202070022_create_runs_runs.exs
Due: none

[runs] Add run lifecycle commands/events and projection model for querying runs
  mcsn_runs/lib/mcsn/application.ex
  mcsn_runs/lib/mcsn/runs.ex
  mcsn_runs/lib/mcsn/runs/aggregates/run.ex
  mcsn_runs/lib/mcsn/runs/commands/finish_run.ex
  mcsn_runs/lib/mcsn/runs/commands/reset_run.ex
  mcsn_runs/lib/mcsn/runs/commands/start_run.ex
  mcsn_runs/lib/mcsn/runs/events/run_finished.ex
  mcsn_runs/lib/mcsn/runs/events/run_reset.ex
  mcsn_runs/lib/mcsn/runs/events/run_started.ex
  mcsn_runs/lib/mcsn/runs/handlers/runs_event_handler.ex
  mcsn_runs/lib/mcsn/runs/handlers/runs_projector.ex
  mcsn_runs/lib/mcsn/runs/projections.ex
  mcsn_runs/lib/mcsn/runs/projections/run.ex
  mcsn_runs/lib/mcsn/runs/router.ex
  mcsn_runs/mix.exs
  mcsn_runs/mix.lock
  mcsn_runs/priv/repo/migrations/20200202070022_create_runs.exs
  mcsn_runs/priv/repo/migrations/20200202214625_create_projection_versions.exs
Due: none

denser teams view
  mcsn_web/app/modules/events/components/EventTeam.js
  mcsn_web/app/modules/events/components/EventTeam.mod.css
  mcsn_web/app/modules/events/views/EventView.js
  mcsn_web/app/modules/layout/components/LayoutNavbar.js
Due: prettier, eslint

enable manual password reset requests
  mcsn_api/.env.example
  mcsn_api/src/mcsn/constants.cr
  mcsn_api/src/mcsn/contexts/accounts/account.cr
  mcsn_api/src/mcsn/controllers/api/v1/password_reset_controller.cr
  mcsn_api/src/mcsn/router.cr
  mcsn_web/app/App.js
  mcsn_web/app/Constants.js
  mcsn_web/app/modules/auth/AuthActions.js
  mcsn_web/app/modules/auth/views/ForgotPasswordView.js
  mcsn_web/app/modules/auth/views/LoginView.js
  mcsn_web/config/.gitignore
  mcsn_web/config/development.example.json
Due: prettier, eslint, crystal-format

fix run dashboard
  mcsn_api/db/migrations/20200531220528_change_run_submission_to_submission.sql
  mcsn_web/app/Constants.js
  mcsn_web/app/modules/run-dashboard/components/RunDashboard.js
Due: prettier, eslint

fix team estimates
  mcsn_web/app/modules/layout/components/LayoutNavbar.js
  mcsn_web/app/modules/teams/TeamStore.js
  mcsn_web/app/modules/teams/views/TeamView.js
Due: prettier, eslint

fix showing discord discrims
  mcsn_api/src/mcsn/contexts/accounts/account.cr
Due: crystal-format

change current event id
  mcsn_web/app/Constants.js
Due: prettier, eslint

Order team runs on Event page
  mcsn_web/app/modules/events/components/EventTeam.js
Due: prettier, eslint

Path conditions:
  prettier: any of: (.*)\.(jsx?|tsx?|css|html)$
  eslint: any of: (.*)\.(jsx?|tsx?|css)$
  crystal-format: any of: \.cr$
